@model ProductDisplayModel
@{

}

<div class="my-2 mt-4" >
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div id="errorMessage" class="alert alert-danger" style="display: none; position: fixed; top: 60px; right: 20px; z-index: 9999;"></div>

        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search WebShop</label>
            <div class="input-group">
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Search WebShop">
            </div>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="CategoryID">Categories</label>
            <select class="form-select" id="CategoryID" name="CategoryID">
                <option selected>All</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@(category.CategoryID == Model.categoryID)" value="@category.CategoryID">@category.Name</option>
                }
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-dark">Search</button>
            <a href="/Home/Index" class="btn btn-dark">Reset</a>

        </div>
    </form>
</div>
<div class="w-100 mt-4 d-flex flex-wrap" >
    @foreach (var product in Model.Products)
    {
        if (@product.StockQuantity > 0)
        {
            <div class="card mx-2 mb-4" style="width: 15rem; ">
                <div style="height: 200px; overflow: hidden;">
                    @if (!string.IsNullOrEmpty(product.Image))
                    {
                        <img src="/Uploads/@product.Image" class="card-img-top" alt="Product Image" style="width: 100%;">
                    }
                    else
                    {
                        <img src="/images/No-Image-Placeholder.svg.png" class="card-img-top" alt="Placeholder Image" style="width: 100%;">
                    }
                </div>
                <div class="card-body" >
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">
                        <b>Kategorija:</b> @product.CategoryName<br />
                        <b>Cijena:</b> @product.Price €<br />
                    </p>
                    <button type="button" onclick="add(@product.ProductID)" class="btn btn-dark">Add to cart</button>
                </div>
            </div>
        }
        
    }
</div>

@section Scripts {
    <script>
        async function add(productId, quantity) {
            var usernameEl = document.getElementById("userName");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
            }

            try {
                // Add the item to the cart
                var response = await fetch(`/Cart/AddItem?productId=${productId}&quantity=${quantity}`);
                if (!response.ok) {
                    console.error("Failed to add item to cart.");
                    return;
                }

                var result = await response.json();

                if (!result.success) {
                    // Show error message if stock quantity is insufficient
                    if (result.insufficientStock) {
                        var errorMessageElement = document.getElementById("errorMessage");
                        if (errorMessageElement) {
                            errorMessageElement.textContent = "Insufficient stock.";
                            errorMessageElement.style.display = "block";
                            setTimeout(function () {
                                errorMessageElement.style.display = "none";
                            }, 5000); // 5 seconds
                        } else {
                            console.error("Error message element not found.");
                        }
                    }
                    return;
                }

                // Update the cart count display
                var cartCountEl = document.getElementById("cartCount");
                if (cartCountEl) {
                    cartCountEl.textContent = result.cartCount;
                }

            } catch (err) {
                console.log(err);
            }
        }
    </script>
}
